header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(70, 68, 68);
    text-align: center;
    justify-items: center;
    display: inline-grid;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
}